<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
 
  </style>
</head>
<body>

<div class="container-fluid col-xs-4 col-xs-offset-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Balance</th>
        <th>Withdraw Amount</th>
        <th>Withdraw date</th>
      </tr>
    </thead>
    <tbody>
    	{% for data in result %}
      <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">   
    function Redirect() 
    {  
        window.location="/redirect"; 
    } 
    setTimeout('Redirect()', 5000);

	if(performance.navigation.type==2){
	  function redirect(){
			console.log("home page")
			window.location="/redirect";
		}
	redirect()
	}

	if(performance.navigation.type==1){
		function redirect(){
			console.log("home page")
			window.location="/redirect";
		}
	redirect()
	}

</script>
</body>
</html>